/*estilização do corpo do site */
body {
    background-color:whitesmoke ;/* atribui a cor de fundo do corpo do site*/
    color: black;/*atribui a cor do texto do site */
}

/* atribui a estilização a todas as divs do site (menos a que contem o menu) */
div {
    align-items: center;/*centraliza os items dentro das divs */
    text-align: center;/* centraliza o texto dentro das divs*/
    justify-content: center;  /*centraliza o conteudo dentro das divs */
    border-radius: 2%;/* arredonda as bordas das divs*/
    border-width: 4px; /* define a grossura da borda das divs em 4 pixels*/
    border-style:double  ;/*define o tipo de borda */
    margin-bottom: 20%;/* aumenta a margem da parte de baixo em 20%, para dar espaçamento entre cada sessão */
}

/* define a estilização de todos os botões*/
button {
    font-size:medium ;/*define o tamanho da fonte */
    font-style: oblique;
    background-color:rgb(198, 255, 226) ; /* define a cor do fundo dos botões*/
    border-color:mediumspringgreen ; /* define a cor da borda dos botões*/
    margin-top: 2%;
    margin-bottom: 2%;
  
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 5px;
}

/* define a cor do texto dos links de ancora*/
a{
    color: black;
}

/*define a margem do botão enviar */
#enviar{
    margin-right: 0%;
}

/*define a estilização do botão que alterna entre o modo claro e escuro */
#mudamuda{
    background-color:mediumspringgreen ;
    border-color:mintcream;
    color: rgb(24, 24, 24) ;
    float: right;
}

/* define a cor de fundo do menu*/
#menuzin{
    background-color: rgb(180, 237, 241);
}

/*classe com a cor do fundo e do texto do modo escuro, é ativada e atribuida ao site pelo javascript, ao clicar no botão (modo noturno/diurno)  */
.dark{
    background-color: #313338;
    color: white;
}

/*faz a página ter uma rolada suave */
html {
  scroll-behavior: smooth;
}
